
:root{
    --color-primary: #ffff;
    --background-color: #060f38;
    --background-color-2: #26254f;
    --background-color-3: #1c1b3b;
    --font-secondary: 'Rubik';
    --font-third: 'Roboto';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-family: var(--font-secondary);
}   

body {
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.50) 0%, rgba(0, 0, 0, 0.50) 100%), linear-gradient(180deg, rgba(58.74, 115.70, 226.27, 0.40) 0%, rgba(10.44, 15.55, 42.38, 0.40) 100%), url('../img/portada/portada-background.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
}
/* =========Container Principal ======== */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* ===============Nav Usuario================ */


.nav-usuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background: rgba(0.28, 0.28, 0.28, 0.10); border-top-left-radius: 8px; border-top-right-radius: 8px; backdrop-filter: blur(70px)
}

.container-usuario-puntaje{
    width: 70%;
}
.container-usuario-puntaje h2{
    font-weight: bold;
}

.container-usuario-puntaje p{
    font-weight: 300;
}

.container-usuario-puntaje b{
    font-weight: 400;

}

.container-usuario-foto-perfil{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1vh;
}

.foto-perfil{
    background: linear-gradient(225deg, #191235 0%, #344B9B 100%); border-radius: 1rem;
    padding: 2rem;
    width: 40%;
}