
:root{
    --color-primary: #ffff;
    --background-color: #060f38;
    --background-color-2: #26254f;
    --background-color-3: #1c1b3b;
    --font-secondary: 'Rubik';
    --font-third: 'Inter';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-primary);
    font-family: var(--font-secondary);
}   

body {
    background-image:  url('../img/portada/fondo.gif');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    min-width: 100vw;
}
/* =========Container Principal ======== */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

/* ===============Nav Usuario================ */


.nav-usuario{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    background: rgba(0.28, 0.28, 0.28, 0.10); border-top-left-radius: 8px; border-top-right-radius: 8px; 
    backdrop-filter: blur(70px)
}

.container-usuario-puntaje{
    width: 70%;
}
.container-usuario-puntaje h2{
    font-weight: bold;
}

.container-usuario-puntaje p{
    font-weight: 300;
}

.container-usuario-puntaje b{
    font-weight: 400;

}

.container-usuario-foto-perfil{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-right: 1vh;
}

.foto-perfil{
    background: linear-gradient(225deg, #191235 0%, #344B9B 100%); border-radius: 1rem;
    padding: 2rem;
    width: 40%;
}


/* =============Trivia-game-principal=========== */

.trivia-game-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    z-index: -1;
}

.container-titulo-trivia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.container-titulo-trivia h1{
    font-size: 2rem;
    font-weight: bold;
}

.container-titulo-trivia p{
    font-size: 1rem;
    font-weight: 300;
    font-family: var(--font-third);
}

/* ===================Principal Game================== */

.principal-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.container-principal-game{
    width: 75%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.20); border-radius: 10px; border: 1px white solid;
}

.container-principal-game-image{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-principal-game-image img{
    width: 80%;
}

.container-informacion-principal-game{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

.container-informacion-principal-game h2{
    font-size: 1.7rem;
    text-align: center;
    font-weight: bold;
}

.container-informacion-principal-game p{
    font-size: 1rem;
    text-align: center;
    font-weight: 300;
    font-family: var(--font-third);
}

.container-bottom-principal-trivia{
    width: 60%;
    padding: 0.2rem 0.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    background: radial-gradient(100.00% 100.00% at 52% 50%, #44D1FE 0%, #0F488A 50%);
    font-family: var(--font-third);
    border-radius: 50px; 
    border: 1px white solid;
    
}


/* ==============More Games=========== */

.more-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.container-title-more-games{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    
}


.container-title-more-games h1{
    font-size: 2rem;
    text-align: center;
}

.container-game-more-games{
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.container-game-more-games img{
    width: 70%;
}

.container-game-more-games a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* ==================Dropdown================ */

.dropdown-content {
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 1rem;
    z-index: 2;     
    position: absolute;
    -webkit-backdrop-filter: blur(20px); 
    background-color: rgba(0.28, 0.28, 0.28, 0.1);  
    backdrop-filter: blur(20px);
    right: 0;   
    top: 14%; 
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    
}
.dropdown-content a {
    padding: 10px 16px;
    display: block;
    text-decoration: none;
    color: black;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.columna-dropdown{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-top: 2rem;
    padding: 0 3rem;

}

.columna-imagen{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.columna-nombre{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 4rem;
}

.columna-nombre h2{
    font-size: 1.5rem;
    font-weight: 400;
    text-align: left;
    width: 100%;
}

.columna-nombre p{
    font-size: 1rem;
    font-weight: 300;
    text-align: left;
    width: 100%;

}

.columna-imagen img{
    width: 100%;

}