
:root{
    --color-primary: #ffff;
    --background-color: #060f38;
    --background-color-2: #26254f;
    --background-color-3: #1c1b3b;
    --font-secondary: 'Rubik';
    --font-third: 'Roboto';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}   

body{
    background-color: var(--background-color);
    cursor: url('../img/recursos/balon-cursor.png'),auto;
}

/* =========Container Principal ======== */

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.player-container{
    display: flex;
    flex-direction:column ;
    justify-content: start;
    align-items: center;
    background-color: rgba(38, 37, 79, 0.9); /* 50% de transparencia */
    width: 20%;
    padding: 1rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;

}

.info-player{
    display: flex;
    flex-direction: row;
}

/* ======Fotografia de Jugador======= */

.photo-container{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.photo-container img{
    width: 100%;
    border-radius: 2rem;
}

/* ==========Informacion Jugador======== */


.info-usuario{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.info-usuario h2{
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.info-usuario p{
    color: gray;
    font-family: var(--font-third);
    font-size: 1rem;
}


/* =============Puntaje Usuario========== */

.puntaje-player {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    color: var(--color-primary);
    font-family: var(--font-third);
    font-size: 1.1rem;
    width: 100%;
    padding: 1rem;
}

/* ==================Puntaje Individual Juego======== */

.puntaje-individual-juego{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #fff;
    border-radius: 2rem;
    padding: 1rem;
    margin-top: 10vh;
}

.titulo-puntaje-juego-individual{
    color: #000;
    font-weight: 600;
    font-family: var(--font-third);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contenedor-puntaje-juego{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2vh;
}

.contenedor-puntaje-juego img{
    width: 30%;
    height: auto;
}

.texto-puntaje{
    display: flex;
    width: 70%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-puntaje-juego p{
    color: #000;
    font-weight: 800;
    font-family: var(--font-third);
    font-size: 1.2rem;
    padding: 2rem;
    text-align: center;
}


/* ================Dashoard============== */

.dashboard-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    padding: 2rem;
    background-image: url(../img/portada/portada-champions.png);
    color: var(--color-primary);
    font-family: var(--font-third);
}


/* =====Titulo DashBoard====== */

.titulo-dashboard{
    font-size: 1.2rem;
    }


/* =========Nav DashBoard========== */

.nuestros-juegos-personajes{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 15vh;
    cursor: pointer;
}

.nav-dashboard{
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 1rem;
    width: 100%;
}

.logout-icon{
    color: var(--color-primary);
    font-size: 1.5rem;
}




/* =============Seccion Nuestros Juegos Personajes============ */

.contenedor-juego-1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
}

.imagen-juego-personajes img{
    width: 100%;
}

.contenedor-juego-1 h3{
    font-size: 1.5rem;
    padding: 0.5rem;
}
.contenedor-juego-1 p{
    width: 70%;
    margin-top: 0.2rem;
    padding: 0.5rem;
}


.black-juegos-personaje{
    color: red !important;
}


.black2-juegos-personaje{
    color: #0063c1 !important;
}
/* =============Carousel de Juegos================ */
.catalogo-juegos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    }


/* =====================Frase Premios==================== */

 .frase-premios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-family: var(--font-third);
 }

 .titulo-premios{
    font-family: var(--font-third);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 5vh;
    margin-bottom: 2vh;    
    padding: 1rem;
    color: #fff;
}

/* =================Animacion Iframe============ */

.animacion-frame{
    background-color: #000!important;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animacion-frame img{
    width: 10%;
}


/* ==============Seccion Premios========= */

.premios{
    background-color: #000;
}

.calificacion-estrellas{
    display: inline-block;
    color: yellow;
}

.seccion-juegos{
    display: flex;
    flex-direction: column;
    color: #fff;
}

.contenedor-seccion-juegos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 4rem;
}
.contenedor-juego-explicacion{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
}

.imagen-juego-explicacion{
    width: 40%;

}

.imagen-juego-explicacion img{
    width: 100%;
}

.explicacion-texto{
    font-family: var(--font-third);
    padding: 2rem;
    width: 60%;
}

.temporada-game p{
    background-color: #26254f;
    border-radius: 1rem;
    width: auto;
    padding: 1rem;
    width: 40% !important;
    text-align: center;
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 1rem;  
    text-decoration: none !important;
}
.explicacion-texto h3{
    font-size: 3rem;
    margin-bottom: 1rem;
}

.explicacion-texto p{
    width: 90%;
    cursor: pointer;
    text-decoration: none !important;
    color: #fff;
    text-transform: uppercase;

}

.mantenimiento-game p{
    width: 50% !important;
    cursor: none;
    text-decoration: none !important;    
}